@font-face {
	font-family: 'Mona Sans';
	font-weight: 200 900;
	font-stretch: 75% 125%;
	src:
		url('./fonts/Mona Sans/Mona-Sans.woff2') format('woff2 supports variations'),
		url('./fonts/Mona Sans/Mona-Sans.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./fonts/Pretendard-1.3.9/web/variable/woff2/PretendardVariable.woff2') format('woff2-variations');
}

body {
	margin: 0;
	font-family: Mona Sans, "Pretendard Variable", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/*background-image: url("../public/background.jpg");*/
	/*background-size: cover;*/
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
